Q1) Load the dataset into a pandas dataframe and display the first 5 lines of the dataset along with the column headings. Note that the data does not come along with the column headings, so you should be adding that to the data frame.

In [1]:
import numpy as np
import pandas as pd

#Loading the dataset
dataset = pd.read_csv('../people.csv', names = ["firstname", "lastname", "age", "company name", "street name", "city", "county", "state", "zipcode", "phone number",  "email", "url"])
dataset.head()

,firstname,lastname,age,company name,street name,city,county,state,zipcode,phone number,email,url
0,Mattie,Poquette,35.0,Century Communications,73 State Road 434 E,Phoenix,Maricopa,AZ,85013.0,602-277-4385,mattie@aol.com,http://www.centurycommunications.com
1,Arminda,Parvis,22.0,Newtec Inc,1 Huntwood Ave,Phoenix,Maricopa,AZ,85017.0,602-906-9419,arminda@parvis.com,http://www.newtecinc.com
2,Herminia,Nicolozakes,59.0,Sea Island Div Of Fstr Ind Inc,4 58th St #3519,Scottsdale,Maricopa,AZ,85254.0,602-954-5141,herminia@nicolozakes.org,http://www.seaislanddivoffstrindinc.com
3,Christiane,Eschberger,71.0,Casco Services Inc,96541 W Central Blvd,Phoenix,Maricopa,AZ,85034.0,602-390-4944,christiane.eschberger@yahoo.com,http://www.cascoservicesinc.com
4,Helene,Rodenberger,30.0,Bailey Transportation Prod Inc,347 Chestnut St,Peoria,Maricopa,AZ,85381.0,623-461-8551,helene@aol.com,http://www.baileytransportationprodinc.com

Q2) Drop the county column.

In [2]:
df = dataset.drop(['county'], axis=1)
df.head()

,firstname,lastname,age,company name,street name,city,state,zipcode,phone number,email,url
0,Mattie,Poquette,35.0,Century Communications,73 State Road 434 E,Phoenix,AZ,85013.0,602-277-4385,mattie@aol.com,http://www.centurycommunications.com
1,Arminda,Parvis,22.0,Newtec Inc,1 Huntwood Ave,Phoenix,AZ,85017.0,602-906-9419,arminda@parvis.com,http://www.newtecinc.com
2,Herminia,Nicolozakes,59.0,Sea Island Div Of Fstr Ind Inc,4 58th St #3519,Scottsdale,AZ,85254.0,602-954-5141,herminia@nicolozakes.org,http://www.seaislanddivoffstrindinc.com
3,Christiane,Eschberger,71.0,Casco Services Inc,96541 W Central Blvd,Phoenix,AZ,85034.0,602-390-4944,christiane.eschberger@yahoo.com,http://www.cascoservicesinc.com
4,Helene,Rodenberger,30.0,Bailey Transportation Prod Inc,347 Chestnut St,Peoria,AZ,85381.0,623-461-8551,helene@aol.com,http://www.baileytransportationprodinc.com

Q3) Keep only those rows that have a minimum of 4 values, otherwise delete them.

In [3]:
# Function to print rows with NaN values
nans = lambda df: df[df.isnull().any(axis=1)]
nans(df)

,firstname,lastname,age,company name,street name,city,state,zipcode,phone number,email,url
5,Regenia,Kannady,NaN,Ken Jeter Store Equipment Inc,10759 Main St,Scottsdale,AZ,85260.0,480-726-1280,regenia.kannady@cox.net,http://www.kenjeterstoreequipmentinc.com
15,Kallie,Blackwood,63.0,Rowley Schlimgen Inc,701 S Harrison Rd,San Francisco,CA,94104.0,415-315-2761,NaN,http://www.rowleyschlimgeninc.com
18,Dominque,Dickerson,NaN,E A I Electronic Assocs Inc,69 Marquette Ave,Hayward,CA,94545.0,510-993-3758,dominque.dickerson@dickerson.org,http://www.eaielectronicassocsinc.com
34,Marguerita,Hiatt,NaN,"Haber, George D Md",82 N Highway 67,Oakley,CA,94561.0,925-634-7158,marguerita.hiatt@gmail.com,http://www.habergeorgedmd.com
37,NaN,NaN,NaN,NaN,98 University Dr,San Ramon,NaN,NaN,925-615-5185,gmontezuma@cox.net,http://www.paynebladeswellbornpa.com
62,Gayla,Schnitzler,44.0,Sigma Corp Of America,38 Pleasant Hill Rd,Hayward,CA,94545.0,510-686-3407,NaN,http://www.sigmacorpofamerica.com
63,Mitsue,Scipione,NaN,Students In Free Entrprs Natl,77 222 Dr,Oroville,CA,95965.0,530-986-9272,mscipione@scipione.com,http://www.studentsinfreeentrprsnatl.com
73,Daniel,Perruzza,74.0,Gersh & Danielson,11360 S Halsted St,Santa Ana,CA,92705.0,714-771-3880,NaN,http://www.gershdanielson.com
91,Ressie,Auffrey,NaN,"Faw, James C Cpa",23 Palo Alto Sq,Miami,FL,33134.0,305-604-8981,ressie.auffrey@yahoo.com,http://www.fawjamesccpa.com
105,Nickolas,Juvera,NaN,United Oil Co Inc,177 S Rider Trl #52,Crystal River,FL,34429.0,352-598-8301,nickolas_juvera@cox.net,http://www.unitedoilcoinc.com

In [4]:
# No rows should be deleted 
df = df.dropna(thresh=4) #remove rows with non-'NaN' value is less than 4
df.shape

(109, 11)

Q4) Delete rows with email missing.

In [5]:
df = df.dropna(axis=0, subset=['email'])
df.shape

(106, 11)

Q5) Impute the missing values in age with the mean of the column.

In [6]:
#From the scikit.imputelibrary we first import the SimpleImputerclass
from sklearn.preprocessing import Imputer
#Next we define an object of the SimpleImputerclass by looking at the docstring (use Shift+Tab)
imputer = Imputer(missing_values=np.nan, strategy='mean')
imputer.fit(df[["age"]])
df["age"]= imputer.transform(df[["age"]])
df.isnull().sum()

firstname       1
lastname        1
age             0
company name    1
street name     0
city            0
state           1
zipcode         1
phone number    0
email           0
url             0
dtype: int64

Q6) Perform one hot encoding for the state column.

In [7]:
df['state'].replace(np.nan, 'CA', regex=True, inplace=True)
df.isnull().sum()

firstname       1
lastname        1
age             0
company name    1
street name     0
city            0
state           0
zipcode         1
phone number    0
email           0
url             0
dtype: int64

In [9]:
X = df.iloc[:,:-1].values
X[:,6]

array(['AZ', 'AZ', 'AZ', 'AZ', 'AZ', 'AZ', 'AZ', 'AZ', 'AZ', 'CA', 'CA',
       'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA',
       'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA',
       'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA',
       'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA',
       'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA',
       'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA',
       'CA', 'FL', 'FL', 'FL', 'FL', 'FL', 'FL', 'FL', 'FL', 'FL', 'FL',
       'FL', 'FL', 'FL', 'FL', 'FL', 'FL', 'FL', 'FL', 'FL', 'FL', 'FL',
       'FL', 'FL', 'FL', 'FL', 'FL', 'FL', 'FL'], dtype=object)

In [12]:
#Dealing with categorical variables
##From the scikit.preprocessinglibrary we first import few classes
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
labelencoder_X= LabelEncoder()
X[:,6] = labelencoder_X.fit_transform(X[:,6])
onehotencoder= OneHotEncoder(categorical_features=X[:,6])
X = onehotencoder.fit_transform(X)

ValueError: could not convert string to float: 'chauncey_motley@aol.com'

In [8]:
print(X)

NameError: name 'X' is not defined